<% layout("/layouts/boilerplate") %>


    <body>

        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h3>Edit your listing </h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input type="text" id="title" name="listing[title]" value="<%= listing.title %>"
                            class="form-control" required>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-lable" required>Description</label>
                        <textarea id="description" name="listing[description]" class="form-control"
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image <br>
                        <img src="<%= originalImageUrl %>">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Upload New Image</label>
                        <input type="file" id="image" name="listing[image]" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable" required>Price</label>
                            <input type="number" id="price" name="listing[price]" value="<%= listing.price %>"
                                class="form-control">
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable" required>Country</label>
                            <input type="text" id="country" name="listing[country]" value="<%= listing.country %>"
                                class="form-control">
                            <div class="invalid-feedback">Country should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-lable" required>Location</label>
                        <input type="text" id="location" name="listing[location]" value="<%= listing.location %>"
                            class="form-control">
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>


                    <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
                </form>
            </div>
        </div>
    </body>